
body::-webkit-scrollbar {
  display: none;
}

.dd {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.dd2 {
  display: flex;
  flex-direction:row; 
  justify-content:space-around;
  width: 100%;
  height: 550px;
}
.ww {
  display: flex;
  justify-content:space-between;
  width: 50%;
}
.nav {
  display: flex;
  justify-content: space-between;
  background: #fffbd5; 
  background: -webkit-linear-gradient(to right, #fffbd5, #b20a2c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fffbd5, #b20a2c); 
  border-bottom: solid 2px #000;
  width: 100%;
  height: 60px;
}
.mm {
    
    line-height: 42px; 
    text-align: center;
    border: solid #e280eb;
    background-color: #fffbd5;
    border-radius: 15px;
    width: 48%;
    height: 200px;
    margin-left: 8px;
    margin-bottom: 6px;
    margin-top: 5px;
}
.kk {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.uu {
  background: #29ffc6; 
  background: -webkit-linear-gradient(to right, #fffbd5, #b20a2c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fffbd5, #b20a2c); 
  border-radius: 15px;
  width: 90%;
  height: 45px;
  padding-top: 2px;
  padding-bottom: 0px;
  font-size: 16px;
  margin-bottom: 10px;
}
.ee {
  position: relative;
  top: 12px;
  background: #F2994A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F2C94C, #F2994A); 
  border-radius: 15px;
  width: 100%;
  overflow: auto;
  padding-bottom: 10px;
}
.oo {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 5px;
  background: #0cebeb;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); 
  border-radius: 15px;
  width: 99%;
  height: 50px;
  padding: 4px;
  font-size: 15px;
}
.hh {
  display: flex;
  flex-direction: column;
  width: 68%;

}
.cc {
  position: relative;
  top: 5px;
  background: #667db6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 15px;
  width: 30%;
  line-height: 42px; 
  text-align: center;
}
.box {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.nav a{
  text-decoration: none;
}
.fin {
  position: relative;
  left:10px;
  top:8px;
}
.sss {
  background: none;
  border: none;
  font-size: 20px;
  color:#b4344d ;
  font-weight: bold;
  position: relative;
  top: 10px;
}

.ss {
  padding: 6px;
  font-size: 1.5em;
  font: -1em sans-serif;
  background-color:#e280eb;
  border: none;
  color: rgb(103, 11, 146);
}
input {
  padding-left: 6px;
  padding-bottom: 8px;
  padding-right: 6px;
  padding-top: 8px;
  font-size: 15px;
  border-radius: 8px;
  background-color: lightgoldenrodyellow;
  border: solid #e280eb;
}
button {
  background-color: #e1ee29b4;
  font-size: 17px;
  color: #8f61fb;
}
.style4 {
  position: relative;
  left:32px;
  text-align: center; 
}
.style3 {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  left: -30px;
}
.style2 {
  position: relative;
  left:18px;
  top:4px;
  font-size: 30px;
  text-align: center;
}
.style5 {
  position: relative;
  left:18px;
  top:0px;
  font-size: 30px;
  text-align: center;
}
a {
  text-decoration: none;
}
.style1 {
  position: relative;
  left:30px;
  text-align: center; 
}
.one {
  position: relative;
  left:-60px;
  top:15px;
  font-size: 20px;
}
.two {
  position: relative;
  left:-30px;
  top:15px;
  font-size: 20px;
}


